@import "./src/app/styles/reset";
@import "./src/app/styles/variables/global";
@import "./src/app/styles/themes/normal";
@import "./src/app/styles/themes/dark";
@import "./src/app/styles/themes/orange";

* {
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) var(--card-bg);
}

*::-webkit-scrollbar {
    width: 16px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}
