.ArticleDetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.errorWrapper {
    min-height: calc(100vh - var(--navbar-height) - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
