.ArticleDetails {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.avatar {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.errorWrapper {
    min-height: calc(100vh - var(--navbar-height) - 130px);
}
