.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon {
    fill: var(--inverted-secondary-color);
    min-width: 20px;
}

.link {
    display: flex;
    align-items: center;
}

.linkName {
    opacity: 1;
    white-space: nowrap;
    margin-left: 10px;
}

.collapsed {
    .linkName {
        opacity: 0;
        transition: opacity .3s ease-in-out;
        width: 0;
        visibility: hidden;
        margin-left: 0;
    }
}
