.BLOCK {
    width: 100%;
    transition: all .2s ease-in-out;
    text-decoration: none;

    .views {
        margin-left: auto;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin-left: 10px;
    }

    .date {
        margin-left: auto;
    }

    .title {
        margin: 10px 0 15px;
    }

    .blockImageWrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        width: 100%;
        max-height: 250px;
        filter: grayscale(60%);
        object-fit: cover;
        object-position: center center;
        margin: 15px 0;
        border-radius: 12px;
    }

    .footer {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .types {
        margin-top: 10px;
    }

    .textBlock {
        margin-top: 10px;
        max-height: 210px;
        overflow-y: hidden;
    }

    .avatar {
        flex-shrink: 0;
    }
}

.TILE {
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration: none;

    .storybookCardWidth {
        width: 280px;
    }

    .imageWrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 250px;
    }

    .image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center center;
        filter: grayscale(60%);
        border-radius: 12px;
    }

    .date {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-in-out;
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .types p {
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title {
        margin-top: 10px;
    }

    .title p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .views {
        margin-left: auto;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &:hover {
        transform: scale(1.01);

        .date {
            visibility: visible;
            transform: scale(1.01);
            opacity: 1;
            background-color: var(--card-bg);
            padding: 5px 10px;
            border-radius: 0 0 0 6px;
        }
    }
}

.TILE:hover,
.BLOCK:hover {
    opacity: 1;

    .image {
        filter: none;
    }
}
