.items,
.item {
    border-radius: 12px;
}

.items {
    background: var(--card-bg);
    position: absolute;
    z-index: 999;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 20px;
    width: 100%;
    color: var(--primary-color);
    white-space: nowrap;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
