.ListBox {
    position: relative;
}

.trigger {
    border: none;
    outline: none;
    background: none;
}

.options {
    background-color: var(--listbox-bg);
    position: absolute;
    z-index: 999;
    border-radius: 12px;
}

.option {
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    white-space: nowrap;
}

.active {
    background-color: var(--inverted-primary-color);
}

.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.optionsTopLeft,
.optionsTopRight {
    margin-bottom: 10px;
}

.optionsBottomLeft,
.optionsBottomRight {
    margin-top: 10px;
}

.optionsTopLeft {
    bottom: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    right: 0;
}

.optionsBottomLeft {
    top: 100%;
    left: 0;
}

.optionsBottomRight {
    top: 100%;
    right: 0;
}
