.ListBox {
    position: relative;
}

.trigger {
    border: none;
    outline: none;
    background: none;
}

.options {
    background-color: var(--listbox-bg);
    position: absolute;
    z-index: 999;
    border-radius: 12px;
}

.option {
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.active {
    background-color: var(--inverted-primary-color);
}

.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.optionsTop {
    bottom: 100%;
    margin-bottom: 10px;
}

.optionsBottom {
    top: 100%;
    margin-top: 10px;
}
