.app.dark {
    --bg-color: #07074b;
    --inverted-bg-color: #ecebeb;
    --primary-color: #008103;
    --inverted-primary-color: #002fbd;
    --secondary-color: #00c500;
    --inverted-secondary-color: #0046e1;
}
