:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #002fbd;
    --inverted-primary-color: #008103;
    --secondary-color: #0046e1;
    --inverted-secondary-color: #00c500;
}
