.options {
    background-color: var(--listbox-bg);
    position: absolute;
    z-index: 999;
    border-radius: 12px;
}

.option {
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    white-space: nowrap;
}
