.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.items {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.logo {
    width: calc(var(--sidebar-width) - 20px);
    display: flex;
    justify-content: center;
}

.createArticleButton {
    padding-left: 90px;
}
