.Dropdown {
    position: relative;
}

.button,
.item {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.items,
.item {
    border-radius: 12px;
}

.items {
    background: var(--card-bg);
    position: absolute;
    z-index: 999;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 20px;
    width: 100%;
    color: var(--primary-color);
    white-space: nowrap;
}

.active {
    background: var(--inverted-primary-color);
}

.optionsTopLeft,
.optionsTopRight {
    margin-bottom: 10px;
}

.optionsBottomLeft,
.optionsBottomRight {
    margin-top: 10px;
}

.optionsTopLeft {
    bottom: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    right: 0;
}

.optionsBottomLeft {
    top: 100%;
    left: 0;
}

.optionsBottomRight {
    top: 100%;
    right: 0;
}
