.appLink {
    color: var(--primary-color);
    text-underline-offset: 3px;

    &:hover {
        opacity: .8;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}

.red {
    color: red;
}
